CONFIG_VENDOR=ASUS
CONFIG_PRODUCT=RT3883
CONFIG_FIRMWARE_PRODUCT_ID="RT-N56U"
CONFIG_FIRMWARE_WIFI5_DRIVER=2.7
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_ENABLE_EXFAT=y
CONFIG_FIRMWARE_ENABLE_FUSE=y
CONFIG_FIRMWARE_ENABLE_SWAP=y
CONFIG_FIRMWARE_INCLUDE_SERIAL=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
#CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y

### Include EAP-TTLS and EAP-PEAP authentication support. openssl ~1.2MB, wpa_supplicant +0.04MB
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y

### Make the dropbear symmetrical ciphers and hashes faster. ~0.06MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y

### Include Stubby DNS-over-TLS (DoT) ~0.5MB
CONFIG_FIRMWARE_INCLUDE_STUBBY=y

### Include doh_proxy DNS-over-HTTPS (DoH) ~0.4MB
CONFIG_FIRMWARE_INCLUDE_DOH=y

### Include compressed memory support
CONFIG_FIRMWARE_INCLUDE_ZRAM=y
